.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 20px;
  padding: 22px;
  width: 26%;
  margin: 14px 0;
  border: 2px solid grey;
}

.card-image {
  width: 58px;
  height: 58px;
}

.companyinfo-container {
  display: flex;
  margin-top: 12px;
}

.company-info {
  margin: 2px 8px;
}

.job-role {
  margin-top: 15px;
  margin-bottom: 2px;
}

.job-about {
  position: relative;
}

.viewmore-button {
  display: block;
  width: 100%;
  background: white;
  opacity: -2.5px;
  color: blue;
  position: absolute;
  bottom: 4px;
  padding: 6px 4px;
  border: none;
  box-shadow: 2px solid orange;
  box-shadow: 0px 0px 21px 11px white;
}
/* 425 100%
768 px as it is
768px 40%
594px 80% */

@media screen and (max-width: 425px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 425px) and (max-width: 594px) {
  .card {
    width: 80%;
  }
}

@media screen and (min-width: 594px) and (max-width: 768px) {
  .card {
    width: 40%;
  }
}
