.header-container {
  display: flex;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.header-list {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #3522e2;
  height: 100%;
  padding: 7px 13px;
  margin: 9px;
}

.header-list a {
  color: black;
}
